body {
  font-family: "Otomanopee One", sans-serif;
  margin: 0;
}
h1 {
  font-size: 40px;
}
span {
  color: orange;
}
.flex-container {
  display: flex;
}
.half-width {
  width: 50%;
  padding: 5%;
}
.half-width2 {
  width: 50%;
  padding: 5%;
}
.half-width3 {
  width: 50%;
  padding-right: 10%;
  padding-top: 5%;
}
.ex-headline {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
}
.half-width4 {
  width: 50%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 150px;
  box-shadow: 4px 4px 6px gray;
  border-radius: 5px;
}
.half-width5 {
  width: 50%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 25px;
  box-shadow: 4px 4px 6px gray;
  border-radius: 5px;
}
.half-width img {
  width: 100%;
}
.half-width2 img {
  width: 100%;
}
.experience {
  padding-top: 5%;
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.banner2 {
  background-image: url(images/banner2.png);
  background-repeat: no-repeat;
  background-position: right;
}
#graphic {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#web {
  border-left: 7px solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
